extends layout
block conteudo
    if erro
        p oops, ocorreu um erro: #erro
    else
        .row
            .list-group
                each grupo in tarefas
                    a.list-group-item.list-group-item-info(href="#")=grupo.categoria
                        span.badge #{grupo.tarefas ? grupo.tarefas.length : 0}