doctype
html
    head
        title=titulo
        link(href="/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/bootstrap-theme.min.css", rel="stylesheet")
        link(href="/css/site.css", rel="stylesheet")
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle(data-toggle="collapse", data-target="#navbar")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    #logo
                        a(href="/")
                            h4  Tarefas
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li.nav
                            a(href="/") Home
        section#body.container
            .page-header
                h1=titulo
            block conteudo
        hr
        footer.text-center 2015 (C) Todos direitos reservados.
        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")
