#body{
    font-family: Verdana;
    color: darkblue;
    margin-top: 40px;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.css-form input.ng-invalid.show-error,
.css-form textarea.ng-invalid.show-error {
    border-color: red;
}